name: Markdown Syntax Check

on:
  pull_request:
    paths:
      - "**/*.md"
  push:
    branches:
      - fix/**
      - chore/**
      - docs/**
    paths:
      - "**/*.md"
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install markdownlint-cli2
        run: npm i -g markdownlint-cli2 markdownlint-cli2-config-default

      - name: Lint with markdownlint-cli2
        run: markdownlint-cli2 "**/*.md" "#node_modules"

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install PyMarkdown
        run: pipx install pymarkdownlnt

      - name: Lint with PyMarkdown
        run: pymarkdown scan --strict-config \"**/*.md\"

